.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;
}

/*
According to the instruction this must be in the app.css file. For me that didn't work
Will resolve later...
*/
body {
    font-family: 'Open Sans Condensed';
}  